.list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  margin-left: -20px;
  margin-top: -20px;
  width: 1090px;
  margin: 0 auto;
}

.listItem {
  width: 250px;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  border-radius: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 250px;
  height: 375px;
  border-radius: 5px;
  display: block;
}

.filmTitle {
  color: aliceblue;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listItem:hover {
  background-color: rgba(24, 24, 186, 0.9);
}

.listItem:hover .wraper {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItem:hover .vote {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  color: white;
}

.wraper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(18, 3, 152, 0.7);
  width: 250px;
  height: 375px;
  display: none;
}

.vote {
  display: none;
}
