.title {
  color: aliceblue;
  text-transform: uppercase;
  /* margin: 0 auto; */
  font-size: 30px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  margin-left: -20px;
  margin-top: -20px;
  width: 1090px;
  margin: 0 auto;
}

.listItem {
  width: 250px;
  /* margin-right: 20px; */
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  border-radius: 5px;
}

.listItem:hover {
  background-color: rgba(24, 24, 186, 0.9);
}

.listItem:hover .wraper {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItem:hover .vote {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  color: white;
}

.wraper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(18, 3, 152, 0.7);
  width: 250px;
  height: 375px;
  display: none;
}

.vote {
  display: none;

  /* top: 0; */
  /* right: 0; */
  /* width: 80px; */
  /* height: 80px; */
  /* display: none; */
  /* background-color: rgba(18, 3, 152, 0.5); */
}

.Link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 250px;
  height: 375px;
  border-radius: 5px;
  display: block;
  /* margin-bottom: 20px; */
}

/* .listItem {
    width: ;
} */

.filmTitle {
  color: aliceblue;
  /* background-color: blue; */
  font-size: 18px;
  /* padding: 10px; */
  padding-top: 15px;
  padding-bottom: 15px;
}
