@import "../../breakpoints.less";
@import "../../variables.less";

@media (min-width: @breakpoint-md) {
  .search {
    margin-right: 8px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: @primary-bg-color;
  .logo {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  .menu {
    flex: 1;
    justify-content: center;
  }
  .search {
    width: 200px;
  }
  .avatar {
    // margin-left: 10px;
  }
  .mobileButton {
    // margin-left: 10px;
  }
}
